extends ../layouts/master

block title
  link(rel="stylesheet", href="assets/css/styles.min.css")
  link(rel="stylesheet", href="assets/libs/swiper-bundle.css")

block content
  include ../includes/modules/menu



block scripts


